<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RESTAURANTE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Promociones", "Index", "Promociones")</li>        
                    <li>@Html.ActionLink("Insertar Producto", "SP_Insertar_Producto", "SP_Insertar")</li>
                    <li>@Html.ActionLink("Ventas Por Rango", "SP_Ventas_Rango", "SP_Ventas")</li>
                    <li>@Html.ActionLink("Alta De Pedidos", "SP_Alta_Pedido", "SP_Nuevo_Pedido")</li>
                    <li>@Html.ActionLink("Orden Por Estado", "SP_Orden_Estado", "SP_OrdenxEstado")</li>
                    <li>@Html.ActionLink("Cancelar Pedido", "SP_Cancelar_Pedido", "SP_Cancelar_Pedido")</li>
                    <li>@Html.ActionLink("Modificar Ingrediente", "SP_Modificar_Ingrediente", "SP_Modificar")</li>
                </ul>
            </div>
        </div>
    </div>

  




    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Restaurante BD Proyecto</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
